<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
  <body>
    <!-- <h1>Upload 5 Files</h1> -->

    <header>
      <img src="styles/assets/logo.png" id="logo" alt="image">
    </header>
    
    <content>
      
      <form id="file-form" enctype="multipart/form-data" method="post">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <label for="file1">Study Permit Application</label>
            </div>
            <div class="col-4">
              <span><input type="file" id="file1" name="file1" onchange="onFileSelected(event)">
                
              <div id="file1-close" class="close-button" style="display:none;">❌</div></span>
            </div>
            <div class="col-5">
              <div id="file1-alert" class="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="file2">Passport Process Request (PPR)

              </label>
            </div>
            <div class="col-4">
              <span><input type="file" id="file2" name="file2" onchange="onFileSelected(event)">
              <div id="file2-close" class="close-button" style="display:none;">❌</div></span>
            </div>
            <div class="col-5">
              <div id="file2-alert" class="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="file3">Temporary Resident Visa (TRV)</label>
            </div>
            <div class="col-4">
              <span><input type="file" id="file3" name="file3" onchange="onFileSelected(event)">
              <div id="file3-close" class="close-button" style="display:none;">❌</div></span>
            </div>
            <div class="col-5">
              <div id="file3-alert" class="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="file4">Study Permit Approval Letter (LOI)</label>
            </div>
            <div class="col-4">
              <span><input type="file" id="file4" name="file4" onchange="onFileSelected(event)">
              <div id="file4-close" class="close-button" style="display:none;">❌</div></span>
            </div>
            <div class="col-5">
              <div id="file4-alert" class="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="file5">Study Permit</label>
            </div>
            <div class="col-4">
              <span><input type="file" id="file5" name="file5" onchange="onFileSelected(event)">
              <div id="file5-close" class="close-button" style="display:none;">❌</div></span>
            </div>
            <div class="col-5">
              <div id="file5-alert" class="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <!-- <input type="button" value="Upload" id="upload-button" onclick="uploadFiles()"> -->
              <button id="upload-button" onclick="uploadFiles(event)" class="button-28" role="button">Upload</button>
            </div>
          </div>
        </div>
        <div id="status"></div>
    </form>
    </content>
    
    <!-- <div id="status"></div> -->

    <script>
      function uploadFiles(event) {
        event.preventDefault();
        // alert("hi")
        var formData = new FormData();
        for (var i = 1; i <= 5; i++) {
            try {
              if(document.getElementById(`file${i}-checkbox`).checked){
                // Get the selected file from the input
                var file = document.getElementById(`file${i}`).files[0];
                // Add the file to the FormData object
                formData.append(`file${i}`, file);
            }
            } catch (error) {
              console.log(error)
            }
                
        }
        // var xhr = new XMLHttpRequest();
        var request = new Request('/upload', {
            method: 'POST',
            body: formData
        });

        // Open a connection to the server
        // xhr.open('POST', '/upload', true);

        // Set the onload function - executes after send
        
        fetch(request)
        .then(function (response) { 
          if (response.status === 200) {
            // Update the status div with the response text
            // responseJSON = JSON.parse(xhr.responseText)
            // responseMsg = responseJSON.message
            
            response.json().then(function(data) {
              var responseMsg = data.message;
              if(responseMsg.startsWith("No")){
                document.getElementById('status').innerHTML = responseMsg;
                document.getElementById('status').style.color = "red";
                document.getElementById('status').style.fontWeight = 500;
              }
              else{
                document.getElementById('status').innerHTML = responseMsg;
                document.getElementById('status').style.color = "green";
                document.getElementById('status').style.fontWeight = 500;
              }
              document.getElementById('status').innerHTML = responseMsg;
            });
            } else {
            // Update the status div with the error message
            document.getElementById('status').innerHTML = 'An error occurred';
          }
        })
        .catch(function(error) {
          console.log(error);
        });
      }

      function onFileSelected(event) {
        var input = event.target;
        var file = input.files[0];
        var alertId = event.target.id + "-alert";
        var formData = new FormData();
        formData.append('file', file);
        formData.append('input_id', input.id);
        // var xhr = new XMLHttpRequest();
        // xhr.open('POST', '/file_check');
        var alertElement = document.getElementById(alertId);
        if(file){
          var closeButtonId = event.target.id + "-close";
          document.getElementById(closeButtonId).style.display = "inline-block";
        }
        fetch('/file_check', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Update the status div with the response text
            console.log(formData)
            responsetext = data.message;
            alertElement.classList.remove("alert");
            if (responsetext === "success") {
              if ($(".alert-danger").is(":visible")) {
                alertElement.classList.remove("alert-danger");
              } 
              alertElement.classList.add("alert");
              alertElement.innerHTML = `<input type='checkbox' id='${event.target.id}-checkbox' checked> Select to confirm`;
            }
            else{
              alertElement.classList.add("alert-danger");
              console.log(responsetext+" "+responsetext.includes("This document looks like") )
              if(responsetext.includes("This document looks like")){
                alert_arr=responsetext.split(".")
                alertElement.innerHTML = alert_arr[0]+".";
                var paragraph = document.createElement("P");
                paragraph.innerHTML = alert_arr[1];
                paragraph.style.marginBottom="0px";
                paragraph.style.marginLeft="22px";
                alertElement.appendChild(paragraph);
              }
              else{
                alertElement.innerHTML = responsetext
              }
              
            }
          })
           .catch(error => {
            // Update the status div with the error message
            alertElement.classList.remove("alert");
            alertElement.classList.add("alert-danger");
            alertElement.innerHTML = 'An error occurred';
          });
      }



    $('.close-button').click(function(){
      $(this).parent().find('input[type=file]').val('');
      var inputId = $(this).attr("id").split("-")[0]+"-alert";
      document.getElementById(inputId).classList.remove("alert");
      document.getElementById(inputId).classList.remove("alert-danger");
      document.getElementById(inputId).innerHTML = "";
      $(this).hide();
    });

    // $('input[type="file"]').before('<label for="file1" id="file_upload_label">Drop or Browse file</label>');
    </script>
  </body>
</html>
